.top-block {
  text-align: center;
  padding: 50px 20px 0;
}

.counter {
  text-align: center;
  margin: 20px 0;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: Neucha;
  color: #ce006b;
}
@media screen and (max-width: 490px) {
  .counter {
    font-size: 40px;
  }
}