.video-container {
  padding: 20px 0;
  background: #0f1e13 url('../images/video-bg.jpg') no-repeat center 0;
  background-size: contain;

  h2 {
    color: #ffffff;
  }
}
.video-item {
  margin-bottom: 15px;

  .video-title {
    margin-bottom: 15px;
    font-weight: bold;
    color: #ffffff;
  }
}